<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<form #formBuku="ngForm" (ngSubmit)="submitData()">
  <div>
    <label for="nama">Judul Buku</label>
    <input type="text" name="nama" id="nama" [(ngModel)]="buku.nama">
  </div>
  <div>
    <label for="pengarang">Nama Pengarang</label>
    <input type="text" name="pengarang" id="pengarang" [(ngModel)]="buku.pengarang">
  </div>
  <div>
    <label for="tahun">Tahun Terbit</label>
    <input type="number" name="tahun" id="tahun" [(ngModel)]="buku.tahunTerbit">
  </div>
  <div>
    <button type="submit">Kirim</button>
    <button type="reset">Kembali</button>
  </div>
</form>

<hr>
<div>Jumlah data {{bukuContent?.numberOfElements}} / {{bukuContent?.totalElements}}</div>
<div>
  <label for="show">Data yang ditampilkan</label>
  <select name="show" id="show" [(ngModel)]="showList" (change)="gotoPage(0, showList)">
    <option value="5">5 Baris</option>
    <option value="10">10 Baris</option>
    <option value="15">15 Baris</option>
    <option value="20">20 Baris</option>
    <option value="25">25 Baris</option>
  </select>
</div>
<table>
  <thead>
  <tr>
    <td>No.</td>
    <td>Nama Buku</td>
    <td>Pengarang</td>
    <td>Tahun Terbit</td>
    <td>Aksi</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let buku of bukuContent?.content; let idx = index">
    <td>{{idx+1}}</td>
    <td>{{buku.nama}}</td>
    <td>{{buku.pengarang}}</td>
    <td>{{buku.tahunTerbit}}</td>
    <td></td>
  </tr>
  </tbody>
</table>
<div>
  <button
    [disabled]="bukuContent?.first"
    (click)="gotoPage(0, showList)">
    Halaman Pertama
  </button>
  <button
    [disabled]="bukuContent?.number == page.index"
    *ngFor="let page of listPages"
    (click)="gotoPage(page.index, showList)">
    {{page.text}}
  </button>
  <button
    [disabled]="bukuContent?.last"
    (click)="gotoPage(bukuContent?.totalPages - 1, showList)">
    Halaman Terakhir
  </button>
</div>
